
<footer class="footer mt-1 p-3 mt-5" style="background-color: rgb(76,108,181);">  	
			<div class="container-fluid">
				<div class="row">
					<div class="col-4 offset-1 col-sm-3">
                    	<h3><u>Quick Links</u></h3>
	                    <ul class="list-unstyled">
	                        <li><a class="text-white" href="/">Home</a></li>
	                        <!-- <li><a class="text-white" href="indoor/tablTennis">Indoor</a></li>
	                        <li><a class="text-white" href="outdoor/athletics">Outdoor</a></li> -->
	                        <li><a class="text-white" href="event">Events</a></li>
	                        <li><a class="text-white" href="contact">Contact</a></li>
	                    </ul>
                	</div>
	                <div class="col-7 col-sm-4">
	                    <h3><u>Address</u></h3>
			            <address>
			            	NH-37, Bongora<br>
			            	Guwahati, Assam<br>
			            	781015
			            </address>
	                </div>
	                <div class="col-12 col-sm-4 align-self-center align-items-center">
	                    <div class="text-center">
				            <a class="btn btn-social-icon btn-facebook" href="http://fb.com/iiitghy" title="Facebook" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>

				            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/IIITGhy" title="Twitter" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>

	                    </div>
	                    <div class="row justify-content-center">
					<div class="col-auto">
						<p>IIIT Guwahati, Bongora, Assam</p>
						<small>&copy; 2021 Copyright  Terms & Privacy</small>
					</div>
				</div>
	                </div>
				</div>
				
			</div>
		</footer>

	<!-- Optional javascript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="/public/js/script.js"></script>
	</body>
</html>