<%- include('./partials/header') -%>

<div class="container mt-3">
  <h3 class="text-center mb-4" style="color:rgb(133,73,17)">Add a new event </h3>
    <form method="POST" action="/new/addEvent">
        <div class="form-group">
            <label for="name">Name of event: </label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="sDate">Start Date: </label>
          <input type="date" class="form-control" id="sDate" name="startDate">
        </div>
        <div class="form-group">
          <label for="eDate">End Date: </label>
          <input type="date" class="form-control" id="eDate" name="endDate">
        </div>
        <div class="form-group">
          <label for="desc">Description:  </label>
          <input type="text" class="form-control" id="desc" name="description">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>


<%- include('./partials/footer') -%>