<%- include('./partials/header') -%>

  <div class="w3-container">
    <marquee behavior="slide" direction="left"><h2 style="font-family:Roboto ; color:rgb(92,32,18);
    font-size: 60px; "> <strong>BADMINTON</strong>   </h2></marquee>
  </div>
  <div class="wrapper m-3 mb-5"><hr>
    🌟  Badminton is a non-contact sport, making it a lot safer than most contact sports. ... As such, badminton players have a much lower injury rate compared to other sportsmen. This means you can play this game on a regular basis without taking time off to heal from an injury.<br>
    🌟  It is a sport that explores speed changes, reaction time demands, muscular strength and endurance challenges, and is heart-pumping fun.<br>
    🌟  Badminton requires a player to have strength, endurance, agility, muscle power, quick reflexes, and speed endurance.<br>
    🌟  Badminton is like ballet dancing. It requires a lot of control, strength, mind play and measured movement.<br>
    🌟  You’ll develop faster reflexes. Playing at a competitive level will push you to your limits
  </div>


  
    <!-- <div id="image-slider">
        <div id="slide-frame">
          <div id="slides">
            <img id="slide1" src="/public/img_cric/badminton_0.jpg" alt="" />
            <img id="slide2" src="/public/img_cric/badminton_1.jpg" alt="" />
            <img id="slide3" src="/public/img_cric/badminton_2.jpg" alt="" />
            <img id="slide4" src="/public/img_cric/badminton_3.jpg" alt="" />
            <img id="slide5" src="/public/img_cric/badminton_4.jpg" alt="" />
            <img id="slide6" src="/public/img_cric/badminton_5.jpg" alt="" />
            <img id="slide7" src="/public/img_cric/badminton_6.jpg" alt="" />
            <img id="slide8" src="/public/img_cric/badminton_7.jpg" alt="" />
            <img id="slide9" src="/public/img_cric/badminton_8.jpg" alt="" />
            <img id="slide10" src="/public/img_cric/badminton_9.jpg" alt="" />
            <img id="slide11" src="/public/img_cric/badminton_10.jpg" alt="" />
          </div>
        </div>
        <div id="navigation">
          <a href="#slide1">1</a>
          <a href="#slide2">2</a>
          <a href="#slide3">3</a>
          <a href="#slide4">4</a>
          <a href="#slide5">5</a>
          <a href="#slide6">6</a>
          <a href="#slide7">7</a>
          <a href="#slide8">8</a>
          <a href="#slide9">9</a>
          <a href="#slide10">10</a>
          <a href="#slide11">11</a>
     

        </div>
    </div> -->
    <div class="w3-content w3-display-container mx-5" style="max-width:100%">
      <img class="mySlides" src="/public/img_cric/badminton_0.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/badminton_1.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/badminton_2.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/badminton_3.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/badminton_4.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/badminton_5.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/badminton_6.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/badminton_7.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/badminton_8.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/badminton_9.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/badminton_10.jpg" style="width:100%">
      
      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(8)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(9)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(10)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(11)"></span>
      </div>
    </div>

  <div class="container">
    <h2 style=" font-family: Roboto;color:rgb(128, 28, 5) "> ABOUT </h2>
    <p class="content">
      "Badminton is very popular among the college junta as someone can always be seen playing in the temporary
       courts installed around the hostel quadrangles. The badminton team practices equally hard to perform well in the local tournaments as well as inter IIIT AS WELL AS SPIRIT ."</p><br>
      <h2 style="font-family:Roboto;color:rgb(128, 28, 5)"> FACILITIES</h2>
     <p class="content">
       "The institute boasts of a well equipped indoor badminton hall apart from the badminton courts available in various hostels.
        The hostel courts are well light and students utilize them to often play badminton through out the nights. The badminton team has been constantly bringing laurels to the institute in the Inter IIIT sports meet and is provided with the best resources by the institute."</p><br>
    
    <h2 style="font-family:Roboto ;color:rgb(128, 28, 5)"> PAST EVENTS</h2>
    <p class="content">
      &#9755 "  INTER IIIT SPORTS MEET AT IIIT KANCHIPURAM "<br>
      &#9755 " INTER SEMESTER OUT DOOR SPORTS AT IIIT GUWATHI (EVERY YEAR)"<br>
      &#9755 "YUVAN SPORTS MEET AT IIIT GUWATHI (EVERY YEAR)"
    </p><br>
    <h2 style="font-family:Roboto;color:rgb(128, 28, 5)"> ACHIVEMENTS</h2>
      <p class="content">
        &#9830 MENS TEAM:- INTER IIIT IN IIIT KANCHIPURAM - 2016,3rd Position;<br>
        <!-- &#9830 MENS TEAM:- <br>
        &#9830  MENS TEAM:- <br>
        &#9830 WOMENS TEAM:- -->
      </p><br>
  
  </div>

</body>
</html>
       
<%- include('./partials/footer') -%>    
  