<%- include('./partials/header.ejs') -%>
    
    <div class="w3-container">
      <marquee behavior="slide" direction="left"><h2 style="font-family:Roboto ; color:rgb(92,32,18);font-size: 60px; "> <strong>CARROM</strong>   </h2></marquee>
    </div>
    <div class="m-3 mb-5">
      <p><hr>
        🌟 Focus on the techniques and accuracy of your shots. To give yourself a head start, set up the board but leave off all the carrom men. Just pop your striker on either of the moons (circles printed or painted on the surface) and try flicking in to the pockets on the opposite corners of the board.<br>
        🌟Carrom is a tabletop game of Indian origin. The game is very popular in South Asia, and is known by various names in different languages. In South Asia, many clubs and cafés hold regular tournaments. Carrom is very commonly played by families, including children, and at social functions. <br>
        🌟Carrom help in increasing the logical reasoning power in children. The children would be playing and having fun at the same time, they would practice skills like counting, reading, visual perception, and eye hand coordination etc.<br>
        🌟Precise planning will always succeed. You can't really complain about life when you've not even made a proper sketch of where you are going to stand in a particularspan of time. ... <br>
        🌟It is a smooth game and everyone enjoys it while playing. It shows us discipline and how we can collaborate with each other .
      </p>
    </div>
    
    <div class="w3-content w3-display-container mx-5" style="max-width:100%">
      <img class="mySlides" src="/public/img_cric/carrom_1.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/carrom_2.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/carrom_3.png" style="width:100%">
      <img class="mySlides" src="/public/img_cric/carrom_5.jpg" style="width:100%">

      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
      </div>
    </div>
    
    <div class="container">
      <h2 style=" font-family: Roboto;color:rgb(128, 28, 5)  "> ABOUT </h2>
      <p class="content">
         "Carrom game is one of the first teams from the institute to taste the success at the Inter IIIT Sports Meet
          when it marched to glory at the  Inter IIT Sports Meet.
           We remain active throughout the year by having regular sessions and matches and we do party a lot TO CELEBRATE SUCCESS OF THE CLUB."
      </p><br>

      <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> FACILITIES</h2>
       <p class="content">
         "The club is provided with many facilities  for the practice sessions. The club has a spectacular rooms  backside  of the guard room. "</p><br>
      
      <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> PAST EVENTS</h2>
      <p class="content">
        &#9755 "  INTER IIIT SPORTS MEET AT IIIT KANCHIPURAM "<br>
        &#9755 " INTER SEMESTER IN DOOR GAMES AT IIIT GUWATHI (EVERY YEAR)"<br>
        &#9755 "YUVAN SPORTS MEET AT IIIT GUWATHI (EVERY YEAR)"
      </p>

      <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> ACHIVEMENTS</h2>
      <p class="content">   
       &#9830  MEN TEAM:- 1st position, INTER IIIT at Kanchipuram;
      </p><br>

  </div>
  

    <%- include('./partials/footer.ejs') -%>