<%- include('./partials/header.ejs') -%>
    
    <div class="w3-container">
      <marquee behavior="slide" direction="left"><h2 style="font-family:Roboto ; color:rgb(92,32,18);font-size: 60px; "> <strong>CHESS</strong>   </h2></marquee>
    </div>
    <div class="m-3 mb-5">
      <p><hr>
        🌟 Chess is quite like a brain tonic which enhances concentration, patience, and perseverance, as well as develops creativity, intuition, memory, and most importantly, the ability to process and extract information from a set of general principles, learning to make tough decisions and solving problems flexibly. <br>
        🌟 Chess can help you to think ahead, not rush your decisions, and weigh the pluses and minuses of your choices. <br>
        🌟 When playing chess, your brain will be challenged to exercise logic, develop pattern-recognition, make decisions both visually and analytically, and test your memory. Chess can be enjoyed by any age—as a result, these brain exercises can be part of the health of your brain for your entire life! An active brain is a healthy brain!.<br>
        🌟 With large parts of the population in lockdown, chess has become a popular pastime and coping mechanism. ... Further fueling the growth of chess were collaborations of big streamers with strong chess players, which made some of them very popular Twitch streamers themselves <br>
        🌟 They learn self control and they are more likely to think before they make any decisions.It means that they must live with the actions they use, and accept the consequences that are associated with those actions.  
      </p>
    </div>
    
    <div class="w3-content w3-display-container" style="max-width:800px">
      <img class="mySlides" src="/public/img_cric/chess_1.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/chess_2.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/chess_3.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/chess_4.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/chess_5.jpg" style="width:100%">
      
      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
      </div>
    </div>
    
    
    <div class="container">
      <h2 style=" font-family: Roboto; color:rgb(128, 28, 5)  "> ABOUT </h2>
      <p class="content">"Controlling impulses, setting goals, identifying alternatives and consequences are all part and parcel of a game of Chess.  When you play chess you have to make decisions and resolve problems every time you move apiece. You must control your impulses and set short and long term goals to gain an advantage and win the game.
        We remain active throughout the year by having regular sessions and matches and we do party a lot TO CELEBRATE SUCCESS OF THE CLUB."</p><br>
        
      <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> FACILITIES</h2>
      <p class="content">
         "The club is provided with many facilities  for the practice sessions. The club has a spectacular rooms  in front of the guard room. "
      </p><br>
    
      <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> PAST EVENTS</h2>
      <p class="content">
        &#9755 "  INTER IIIT SPORTS MEET AT IIIT KANCHIPURAM "<br>
       &#9755 " INTER SEMESTER IN DOOR GAMES AT IIIT GUWATHI (EVERY YEAR)"<br>
       &#9755 "YUVAN SPORTS MEET AT IIIT GUWATHI (EVERY YEAR)"
      </p><br>
       
      <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> ACHIVEMENTS</h2>
      <p class="content"> 
        &#9830 MENS TEAM:- Secured  5th position by 11 points(IIITG VS IIIT MANIPUR) , SPIRIT'19;</p><br>
       
    </div>
  
 <%- include('./partials/footer.ejs') -%>