<%- include('./partials/header') -%>



<div class="container">
			<div class="row row-content pt-5">
				<div class="col-12">
					<h1  class="text-center">Faculty Coordinators</h1>
				</div>
				<div class="col-12 offset-md-1 col-md-4 py-4">
					<img class="rounded-circle border border-dark" src="/public/images/mansoor.jpg" style="width:100%;height:auto">
					<h4 class="text-center pt-3">Md. Mansoor Khan</h4>
					<p class="text-center">Outdoor Sports</p>
					<p class="text-center"><i class="fa fa-envelope fa-lg"></i> mansoor@iiitg.ac.in</p>
				</div>
				<div class="col-12 offset-md-2 col-md-4 py-4">
					<img class="rounded-circle  border border-dark" src="/public/images/rakesh.jpg" style="width:100%;height:auto">
					<h4 class="text-center pt-3">Dr. Rakesh Biswas</h4>
					<p class="text-center">Indoor Sports</p>
					<p class="text-center"><i class="fa fa-envelope fa-lg"></i> b.rakesh@iiitg.ac.in</p>
				</div>
			</div>

			<div class="row row-content pt-5">
				<div class="col-12">
					<h1  class="text-center">Student Coordinators</h1>
				</div>
				<div class="col-12 offset-md-1 col-md-4 py-4">
					<img class="rounded-circle mx-auto d-block border border-dark" src="" style="width:100%;height:auto">
					<h4 class="text-center pt-3">Shubham Bhagat</h4>
					<p class="text-center">Outdoor Sports</p>
				</div>
				<div class="col-12 offset-md-2 col-md-4 py-4">
					<img class="rounded-circle mx-auto d-block border border-dark" src="" style="width:100%;height:auto">
					<h4 class="text-center pt-3">Ashmit Ayush</h4>
					<p class="text-center">Indoor Sports</p>
				</div>
			</div>
		</div>

<%- include('./partials/footer') -%>