<%- include('./partials/header.ejs') -%>

  <div class="w3-container">
    <marquee behavior="slide" direction="left"><h2 style="font-family:Roboto ; color:rgb(92,32,18);font-size: 60px; "> <strong>CRICKET</strong>   </h2></marquee>
  </div>
  <div class="m-3 mb-5"><hr>
    🌟Cricket is a bat-and-ball game played between two teams of eleven players .<br>
    🌟Cricket can be played for competition or for fun. Cricket is a good sport for developing overall fitness, stamina and hand–eye coordination. <br>
    🌟The passion for cricket is remarkable. One of the main reasons why people love this game because it's so engaging to watch and easy to play.<br>
    🌟The popularity of cricket is such that many people see it as a religion instead of just a sport. ... It would not be wrong to say that cricket is something that unites the nation. 
  </div>

  <!-- <div id="image-slider">
      <div id="slide-frame">
        <img src="cricket1.jpg" alt="" />
        <div id="slides">
          <img id="slide1" src="/public/img_cric/cricket_1.jpg" alt="cricket" />
          <img id="slide2" src="/public/img_cric/cricket_2.jpg" alt="cricket" />
          <img id="slide3" src="/public/img_cric/cricket_3.jpg" alt="cricket" />
          <img id="slide4" src="/public/img_cric/cricket_4.jpg" alt="cricket" />
          <img id="slide5" src="/public/img_cric/cricket_5.jpg" alt="cricket" />
          
          <img id="slide6" src="/public/img_cric/cricket.jpg" alt="cricket" />
          <img id="slide7" src="/public/img_cric/cricket_6.jpg" alt="cricket" />
          <img id="slide8" src="/public/img_cric/cricket_7.jpg" alt="cricket" />
          <img id="slide9" src="/public/img_cric/cricket_8.jpg" alt="cricket" />
          <img id="slide10" src="/public/img_cric/cricket_9.jpg" alt="cricket" />
        </div>
      </div>
      <div id="navigation">
        <a href="#slide1">1</a>
        <a href="#slide2">2</a>
        <a href="#slide3">3</a>
        <a href="#slide4">4</a>
        <a href="#slide5">5</a>
        <a href="#slide6">6</a>
        <a href="#slide7">7</a>
        <a href="#slide8">8</a>
        <a href="#slide9">9</a>
        <a href="#slide10">10</a>
      </div>
  </div> -->
  <div class="w3-content w3-display-container mx-5" style="max-width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_1.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_2.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_3.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_4.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_5.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_6.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_7.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_8.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_9.jpg" style="width:100%">

    
    <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
      <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
      <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(8)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(9)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(10)"></span>
    </div>
  </div>

  <div class="container">
    <h2 style=" font-family: Roboto; color:rgb(128, 28, 5)  "> ABOUT </h2>
     <p class="content">
       "Cricket  is one of the first teams from the institute to taste the success at the Inter IIIT Sports Meet
           at Kanchipuram,when it marched to glory at the Inter IIT Sports Meet.
         We remain active throughout the year by having regular sessions and matches and we do party a lot TO CELEBRATE SUCCESS OF THE TOURNAMENT."
    </p><br>

    <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> FACILITIES</h2>
    <p class="content">
      "The club is provided with many facilities ranging from the cricket kits to the flood lights for the practice sessions. The club has a spectacular ground in front of the Boy's hostel. The ground has a couple of turf wickets with a well maintained outfield. The nets for the evening session is a super setup for the budding cricketers. With lights spread around 3 nets consisting of three cement wickets suffice the need for a perfect practice session.
      The institute team has constantly dominated the Inter IIIT sports meet and is a force to reckon with."
    </p><br>

    <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> PAST EVENTS</h2>
    <p class="content">
      &#9755 "  INTER IIIT SPORTS MEET AT IIIT KANCHIPURAM "
       <br>
       &#9755 " INTER SEMESTER OUT DOOR SPORTS AT IIIT GUWATHI (EVERY YEAR)"
       <br>
       &#9755 "INTRA IIITG CRICKET TOURNAMENT (EVERY YEAR)"
       <br>
       &#9755 "YUVAN SPORTS MEET AT IIIT GUWATHI (EVERY YEAR)"
     
      </p><br>

    <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> ACHIVEMENTS</h2>
    <p class="content">
      &#9830 MENS TEAM:- HELD IN THE YEAR 2019 AT GUWATHI, IIITG VS IITG  - WINNER IIITG  CAPTAIN- ASHISH KESRI (2015-2019);<br>
      &#9830 MENS TEAM:- INTRA IIITG CRICKET - 2019, FINAL (ASHMIT VS SHIVARAM ) - WINNER TEAM "ASHMITH AYUSH";<br>
      &#9830  MENS TEAM:- INTER SEMESTER  OUTDOOR SPORTS- 2019; (SHIVARAM VS SHIVANG) - WINNER TEAM " SHIVANG ";<br>
      &#9830 WOMENS TEAM:- UMANG CRICKET TOURNAMENT - 2019;(PHD VS FACULTY) - WINNER TEAM "PHD";
    </p>
  </div>

<%- include('./partials/footer.ejs') -%>