<%- include('./partials/header.ejs') -%>

  <div class="w3-conainer" >
    <marquee behavior="slide" direction="left"><h2 style="font-family:Roboto ;color:rgb(92,32,18);font-size: 60px; "> <strong>FOOTBALL</strong>   </h2></marquee>
  </div>
  <div class="m-3 mb-5">
    <p><hr>
      🌟Football teaches cooperation and team work, helps develop positive social skills and teaches respect for others. It helps build self-confidence, a positive self-image and self-worth. ... Because a large variety of skills and physical abilities are required on a football team, there is a position for every child to play.<br>
      🌟The most efficient and basic skills for football is to dribble the ball, keeping it in possession. Run with the ball, is not as simple as it sounds, it needs good control, balance, coordination. To get a grab on it, move up and down the pitch with the ball in possession and maintain your control.<br>
      🌟Participating in football (like many other sports), provides many health benefits for children. It's a physically demanding game that provides an opportunity for players to improve their speed, agility, strength, hand-eye coordination, and overall cardiovascular endurance.<br>
      🌟Foer argues that football is more than a game, it is a way of life, a mirror through which one can see the ebbs and flows of our world, capturing our joyous moments and our very sad ones. ... “Unlike baseball or tennis, soccer is freighted with the weight of ancient hatreds and history.<br>
      🌟The friendships amongst a team of football players is unlike any other sport due to the high volume of teammates. ... <br>
      🌟Football players choose to learn toughness because they choose to play football. The toughness that is learned in fight and the struggle it requires to play football will be the foundation of the toughness you need to endure through other fights and other struggles, the more important ones that will be found it life.
    </p>
  </div>

  <div class="w3-content w3-display-container mx-5" style="max-width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_1.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_2.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_3.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_4.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_5.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_6.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_7.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_8.jpg" style="width:100%">
    <img class="mySlides" src="/public/img_cric/cricket_9.jpg" style="width:100%">

    
    <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
      <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
      <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(8)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(9)"></span>
    </div>
  </div>

    <!-- <div id="image-slider">
        <div id="slide-frame">
          <img src="cricket1.jpg" alt="" />
          <div id="slides">
            <img id="slide1" src="/public/img_cric/cricket1.jpg" alt="" />
            <img id="slide2" src="/public/img_cric/cricket2.jpg" alt="" />
            <img id="slide3" src="/public/img_cric/cricket3.jpg" alt="" />
            <img id="slide4" src="/public/img_cric/cricket4.jpg" alt="" />
            <img id="slide5" src="/public/img_cric/cricket5.jpg" alt="" />
          </div>
        </div>
        <div id="navigation">
          <a href="#slide1">1</a>
          <a href="#slide2">2</a>
          <a href="#slide3">3</a>
          <a href="#slide4">4</a>
          <a href="#slide5">5</a>
        </div>
    </div> -->


  <div class="container">
    <h2 style=" font-family: Roboto; color:rgb(128, 28, 5);  "> ABOUT </h2>
    <p class="content">
       "We encourage people to take up football and help organise Inter IIIT coaching sessions,Yuvan, spirit,football league and many other football related events. What sets our sports club apart is our strong team-spirit, dedication, camaraderie, the amazing bonding, the fun and frolic and the constant on-field banter we indulge in. Playing football with your feet is one thing, playing football with your heart is another."</p><br>
      
    <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> FACILITIES</h2>
    <p class="content">
      &#9728 Train the Inter IIT Contingent. <br>
       &#9728 Organise summer camps for Football.<br>
       &#9728 Regular evening practice sessions for competitive events.<br>
       &#9728 Organise beginners classes for new joiners with seniors. <br>
       &#9728 The institute team has constantly dominated the Inter IIIT sports meet and is a force to reckon with.
    </p><br>
     
    <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> PAST EVENTS</h2>
    <p class="content">
      &#9755 "  INTER IIIT SPORTS MEET AT IIIT KANCHIPURAM "<br>
       &#9755 " INTER SEMESTER OUT DOOR SPORTS AT IIIT GUWATHI (EVERY YEAR)"<br>
       &#9755 "INTRA IIITG FOOTBALL TOURNAMENT (EVERY YEAR)"<br>
       &#9755  "YUVAN SPORTS MEET AT IIIT GUWATHI (EVERY YEAR)"<br>
       &#9755 " SPIRIT'19 AT IITGUWATHI"       
      </p><br>
 
    <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> ACHIVEMENTS</h2>
    <p class="content"> 
     &#9830 MENS TEAM:- INTER IIIT IN IIIT KANCHIPURAM -2016, 2nd Position ;<br>
    &#9830 MENS TEAM:- <br>
    &#9830  MENS TEAM:- <br>
    &#9830 WOMENS TEAM:-
    </p>
  </div>

<%- include('./partials/footer.ejs') -%>




