<%- include('./partials/header') -%>  
    
    <div class="w3-container">
      <marquee behavior="slide" direction="left"><h2 style="font-family:Roboto ; color:rgb(92,32,18); font-size:50px "> <strong>TABLE TENNIS</strong> </h2></marquee>
    </div>
    <div class="p-3 mb-5">
      <p><hr>
        🌟Table tennis improves reflex, eye-hand coordination, mental alertness and speed of movement.<br>
        🌟 It also improves balance and lowers the chances of falls and injuries. Additionally, table tennis is a safe sport to play because it is not a contact sport.<br>
        🌟 Table Tennis is a retro and fast-paced competitive sport and is the world’s best brain sport.
      </p>
    </div>
    
    <div class="w3-content w3-display-container mx-5" style="max-width:100%">
      <img class="mySlides" src="/public/img_cric/tabletennis_0.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/tabletennis_1.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/tabletennis_2.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/tabletennis_3.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/tabletennis_4.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/tabletennis_5.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/tabletennis_6.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/tabletennis_7.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/tabletennis_8.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/tabletennis_9.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/tabletennis_10.jpg" style="width:100%">
      
      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(8)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(9)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(10)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(11)"></span>
      </div>
    </div>
    
    
    
    <div class="container">
      <h2 style=" font-family: Roboto;color:rgb(128, 28, 5)  "> ABOUT </h2>
      <p class="content">"It’s the sport that students can enjoy playing at any time as it's an indoor sport with all the required equipment available on the campus. Besides professional table tennis players, other students also enjoy practicing it and remain
        active which definitely helps to improve the sports culture of IIITG. IIITG has got outstanding Table tennis players over the past years whose performances in Inter IIT and many other tournaments keep motivating succeeding teams. This game has taught
         us the importance of perseverance, control and besides this, the value of having a strong team with dedicated and motivating teammates"</p><br>
        
      <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> FACILITIES</h2>
      <p class="content">" The IIITG Community is fortunate to have Table Tennis facility on campus and it has helped form a friendly bond between the community members, be it faculties or staff members or
        students .And you get the available items that are needed for that particular sports near guardian room.
        tabletennis room is 24hrs available in the campus you can play any time with your batchmates ."</p><br>
      
      <h2 style="font-family:Roboto ;color:rgb(128, 28, 5)"> PAST EVENTS</h2>
      <p class="content">
      &#9755 "  INTER IIIT SPORTS MEET AT IIIT KANCHIPURAM "<br>
      &#9755 " INTER SEMESTER IN DOOR GAMES AT IIIT GUWATHI (EVERY YEAR)"<br>
      &#9755 "YUVAN SPORTS MEET AT IIIT GUWATHI (EVERY YEAR)"
     
      <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> ACHIVEMENTS</h2>
      <p class="content">
        &#9830  MEN TEAM:- 2nd Position , INTER IIIT IN IIIT Kanchipuram;<br>
         &#9830 MENS TEAM:- Runnerup , SPIRIT'19;</p><br>

    </div>
  

<%- include('./partials/footer') -%>