<%- include('./partials/header.ejs') -%> 


    <div class="w3-container">
      <marquee behavior="slide" direction="left"><h2 style="font-family:Roboto ; color:rgb(92,32,18);font-size: 60px; "> <strong>VOLLEYBALL</strong>   </h2></marquee>
    </div>
    <div class="m-3 mb-5">
      <p><hr>
        🌟Volleyball is a combination of speed, power and agility. There are short, explosive bursts of power and speed executed fluidly over and over again.volleyball teaches teamwork and communication and is a great social activity.<br>
        🌟Volleyball improves your fine motor skills and coordination. Volleyball is a sport that is more skill based and social rather than reliant on fitness<br>
        🌟Volleyball is a great team sport that can be enjoyed by people of all ages and skill levels. One of the many benefits of volleyball is the fact that it can be played year-round in both an indoor and outdoor setting. Aside from the pure enjoyment of the game, there are several reasons why people play volleyball. It’s a great bonding activity for friends and family. It acts as alternative and highly effective way of reaching your fitness goals in a fun engaging way. Others simply love the game and play volleyball for pure enjoyment. Whatever your reason may be, the physical, mental and emotional benefits of playing volleyball are unparalleled. </p>
    </div>
    
    <div class="w3-content w3-display-container" style="max-width:800px">
      <img class="mySlides" src="/public/img_cric/volleyball.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/volleyball_0.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/vollyball_1.jpg" style="width:100%">
      <img class="mySlides" src="/public/img_cric/vollyball_2.jpg" style="width:100%">
      
      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-dark" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
      </div>
    </div>
    
    
    <div class="container">
      <h2 style=" font-family: Roboto; color:rgb(128, 28, 5)  "> ABOUT </h2>
       <p class="content">
         "Volleyball club has been provided with a large space of 3 courts and with facilities like jerseys, knee caps and what all are required with good support from the admin.
         Both the men’s and women’s volleyball teams work hard throughout the year attending regular practice sessions with discipline and dedication and also attend many local tournaments and practice matches regularly to keep improving and to perform their best at the inter iit sports meet. Also, many people work hard on the ground to get selected in the team."</p><br>

      <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> FACILITIES</h2>
      <p class="content">
        &#9733  "Train the Inter IIT Contingent."<br>
        &#9733  "Organise summer camps for Volleyball."<br>
        &#9733  "Organise beginners classes for new joiners."<br>
        &#9733  "Compete with other teams in the State/Country."
      </p><br>
      <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> PAST EVENTS</h2>
      <p class="content">
        &#9755  " INTER IIIT SPORTS MEET AT IIIT KANCHIPURAM "<br>
       &#9755  "YUVAN SPORTS MEET AT IIIT GUWATHI (EVERY YEAR)"<br>
       &#9755   "INTER OUTDOOR SPORTS AT IIITG (EVERY YEAR)"<br>
       &#9755   " SPIRIT'19 AT IITGUWATHI"       
      </p><br>

      <h2 style="font-family:Roboto ; color:rgb(128, 28, 5)"> ACHIVEMENTS</h2>
      <p class="content">
        &#9830 MENS TEAM:- INTER IIIT IN IIIT KANCHIPURAM -2016, 4TH- Position;<br>
         &#9830 MENS TEAM:- SPIRIT'19(IIITG VS ADBU) , Quater final ;<br>
         &#9830  MENS TEAM:- yuvan -2019  ; <br>
         <!-- &#9830 WOMENS TEAM:- -->
      </p><br>
       
    </div>
  
    <%- include('./partials/footer.ejs') -%>